[package]
name = "octo-setup"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
serde.workspace = true
toml.workspace = true
shellexpand.workspace = true
dirs.workspace = true
